---
layout: layouts/post.njk
title: Speaking
templateClass: tmpl-home
eleventyNavigation:
  key: Speaking
  order: 2
---
<style>
  .slides {
    background: var(--blue);
  }
</style>
<ol reversed class="postlist" style="counter-reset: start-from {{ (jsdata.talks.length) + 1 }}">
  {% for talk in jsdata.talks | reverse %}
    <li class="postlist-item{% if talk.video == url %} postlist-item-active{% endif %}">
      <a href="{{ talk.video | url }}" class="postlist-link">
        {{ talk.title }}
      </a>
      <div class="full">
        <time class="postlist-date" datetime="{{ talk.date  }}">{{ talk.date }}</time>
        <a class="post-tag slides" href="{{ talk.deck }}">slides</a>
        <span class="post-tag">{{ talk.at }}</span>
      </div>
    </li>
  {% endfor %}
</ol>