---
layout: layouts/home.njk
permalink: /dsa/
eleventyNavigation:
  key: Algorithms
  order: 2
---

<h1>All Problems</h1>

{% set problemSolving = true %}

{% include "subscribe.njk" %}

{% set postslist = collections.dsa %}
{% include "postslist.njk" %}
