---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}

{% block extraArticleHeader %}
   {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = (wc / 240) + 1 %}
   <aside>
     {{ wPerMinute | round }} min read.
   </aside>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}


{% block article %}
{{ content | safe }}


<h1>{{ title }}</h1>

<p>
<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
<p>

<aside>
  {{ content | toc(tags=['h2', 'h3'], wrapperClass='fixed toc') | safe }}
</aside>

{% block article %}
{{ content | safe }}

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

{% include "subscribe.njk" %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
